<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Battlefield</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="static/poke/css/battle.css">
	 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src= 'static/poke/jquery/jquery-3.0.0.js'></script>
	<script type="text/javascript">

	$(document).ready(function(){
		var snd = new Audio("../../../static/poke/sound/pokemon-theme.mp3");
		snd.currentTime=0;
		snd.play();


		$('[name=atk1').on("click", function(){
			$('#userATK').html("<h1>{{ request.session.initPokemon.name }} uses {{ request.session.initPokemon.atk1name }}</h1>");
			
			$('#pokemonAttacks').submit(function (e) {
			    var form = this;
			    e.preventDefault();
			    setTimeout(function () {
			        form.submit();
			    }, 2000);
			});
		});
		$('[name=atk2').on("click", function(){
			$('#userATK').html("<h1>{{ request.session.initPokemon.name }} uses {{ request.session.initPokemon.atk2name }}</h1>");
			
			$('#pokemonAttacks').submit(function (e) {
			    var form = this;
			    e.preventDefault();
			    setTimeout(function () {
			        form.submit();
			    }, 2000);
			});
		});
		$('[name=atk3').on("click", function(){
			$('#userATK').html("<h1>{{ request.session.initPokemon.name }} uses {{ request.session.initPokemon.atk3name }}</h1>");
			
			$('#pokemonAttacks').submit(function (e) {
			    var form = this;
			    e.preventDefault();
			    setTimeout(function () {
			        form.submit();
			    }, 2000);
			});
		});
		$('[name=atk4').on("click", function(){
			$('#userATK').html("<h1>{{ request.session.initPokemon.name }} uses {{ request.session.initPokemon.atk4name }}</h1>");
			
			$('#pokemonAttacks').submit(function (e) {
			    var form = this;
			    e.preventDefault();
			    setTimeout(function () {
			        form.submit();
			    }, 2000);
			});
		});
		$('#opponentATK').delay(2000).fadeOut(1000);
	})

	</script>
</head>
<body>

<div id="nav">
	<a id="home" href="{%url 'poke_dashboard' %}">Dashboard</a>
	<div id="logout">
		<a href="/">Logout</a>
	</div>
</div>
<div id="container">
	<div id="opponent">
		<p>{{ request.session.oppPoke1.name }}</p>
		<p>HP: {{ request.session.currentHP }}</p>

		<div class="progress">
  		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="{{request.session.oppPoke1.hp}}" style="width: {{ request.session.healthopp }}%;">
    		<span class= "sr-only">{{ request.session.healthopp }}% health</span>
  		</div>
		</div>

		{% if request.session.oppPoke1 == opponentPoke1 %}
			<img src="{% static opp1 %}" alt="Pokemon character">
		{% endif %}
		{% if request.session.oppPoke1 == opponentPoke2 %}
			<img src="{% static opp2 %}" alt="Pokemon character">
		{% endif %}
		{% if request.session.oppPoke1 == opponentPoke3 %}
			<img src="{% static opp3 %}" alt="Pokemon character">
		{% endif %}
	</div>

	<div id="user">

		<p>{{ request.session.initPokemon.name }}</p>
		<!-- <p>HP: {{ request.session.MyHP }}</p> -->

		<div class="progress">
	  		<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="{{request.session.initPokemon.hp}}" style="width: {{ request.session.health }}%;">
	  		<span> {{ request.session.health }}% health </span>
				<!--   <span class="sr-only">60% Complete</span>--> 
			</div>
		</div>

		{% if request.session.initPokemon == userPoke1 %}
			<img src="{% static p1 %}" alt="Pokemon character">
		{% endif %}
		{% if request.session.initPokemon == userPoke2 %}
			<img src="{% static p2 %}" alt="Pokemon character">
		{% endif %}
		{% if request.session.initPokemon == userPoke3 %}
			<img src="{% static p3 %}" alt="Pokemon character">
		{% endif %}
		<div id="attackButtons">
			<form id="pokemonAttacks" action="/atk" method="post">
			{%csrf_token%}
				<input type="submit" name="atk1" value="{{ request.session.initPokemon.atk1name }}">

				<input type="submit" name="atk2" value="{{ request.session.initPokemon.atk2name }}">
		<br>
				<input type="submit" name="atk3" value="{{ request.session.initPokemon.atk3name }}">

				<input type="submit" name="atk4" value="{{ request.session.initPokemon.atk4name }}">

			</form>
		</div>
	</div>

	<div id="userATK">
	</div>
	<div id="opponentATK">
	<h1>{{ request.session.oppPoke1.name }} used {{ request.session.oppATKchoice }}</h1>
	</div>
</div>

</body>
</html>