<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Battlefield</title>
	<link rel="stylesheet" type="text/css" href="static/poke/css/battle.css">
	<script src= 'static/poke/jquery/jquery-3.0.0.js'></script>
	<script type="text/javascript">

	$(document).ready(function(){
		$('[name=atk1').on("click", function(){
			$('#userATK').html("<h1>{{ request.session.initPokemon.name }} uses {{ request.session.initPokemon.atk1name }}!!!</h1>");
			$('#opponentATK').html("<h1>{{ request.session.oppPoke1.name }} uses {{ request.session.oppPoke1.atk1name }}!!!</h1>");
			
			$('#pokemonAttacks').submit(function (e) {
			    var form = this;
			    e.preventDefault();
			    setTimeout(function () {
			        form.submit();
			    }, 2000);
			});
		});
		// var count = 1;
		// if (request.session['oppFirstPokeHP'] <=0){
		// 	$('#opponent').html('<img src="{{ opponentPoke2.img }}"><p>{{ opponentPoke2.name }}</p>')
		// 	count +=1;
		// 	if count = 2:
		// 		$('#opponent').html('<img src="{{ opponentPoke3.img }}"><p>{{ opponentPoke3.name }}</p>')
		// }
	})

	</script>
</head>
<body>

<div id="nav">
	<a id="home" href="{%url 'poke_dashboard' %}">Dashboard</a>
	<div id="logout">
		<a href="/">Logout</a>
	</div>
</div>
EXIT
<div id="opponent">
{{ request.session.oppPoke1.name }}
<p>HP: {{ request.session.currentHP }}</p>
</div>

<div id="user">

	{{ request.session.initPokemon.name }}
	<p>HP: {{ request.session.MyHP }}</p>
	<img src="static/poke/images/pokemon1.png">
	<form id="pokemonAttacks" action="/atk" method="post">
	{%csrf_token%}
		<input type="submit" name="atk1" value="{{ userPoke1.atk1name }}: {{ userPoke1.atk1power }}">
	{% if atk2name != Null %}
		<input type="submit" name="atk2" value="{{ userPoke1.atk2name }}: {{ userPoke1.atk2power }}">
	{% if atk3name != Null %}
		<input type="submit" name="atk3" value="{{ userPoke1.atk3name }}: {{ userPoke1.atk3power }}">
	{% if atk4name != Null %}
		<input type="submit" name="atk4" value="{{ userPoke1.atk4name }}: {{ userPoke1.atk4power }">
	{% endif %}
	{% endif %}
	{% endif %}
	</form>

</div>

<div id="userATK">
</div>
<div id="opponentATK">
</div>
<div id="otherPokemon2">
</div>
<div id="otherPokemon3">
</div>	

</body>
</html>

