<html>
<head>
	<meta charset="utf-8">
	<title>Pokemon API</title>
	{% load staticfiles %}	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
	<link rel="stylesheet" type="text/css" href="{% static 'poke/css/trade.css' %}">
<script>
$(document).ready(function(){
		console.log("test");


		$.get("http://pokeapi.co/api/v2/pokedex/2", function(res){
				
				var max= {{user.lvl}}
				console.log(max);
				

				for (var i=0; i<max*5+5; i=i+3){	
					id=res.pokemon_entries[i].entry_number;
					string = "<img src='http://pokeapi.co/media/img/" + id + ".png' id="+ id +">";
					$('#container2').append(string);
					var string3="#" + id
					$(string3).on('click',function(){
						pokemon = $(this).attr('id');
					
						$.get("https://pokeapi.co/api/v2/pokemon/" + pokemon,function(res){
							name="<p><strong>Name: </strong>" + res.forms[0].name + "</p>"
							name_value= res.forms[0].name 
							//string3="<p><strong>Height: </strong>" + res.height + "</p>"
							//string4="<p><strong>Weight: </strong>" + res.weight + "</p>"
							type="<p><strong>Type: </strong>" + res.types[0].type.name + "</p>"
							poketype= res.types[0].type.name
							//string6="<p><strong>Ability or Trait: </strong>" + res.abilities[0].ability.name +"</p>"
							attack= "<p><strong> Attack: </strong>" + res.stats[4].base_stat + "</p>"
							atk1power= res.stats[0].base_stat
							atk2power= res.stats[3].base_stat
							console.log(atk2power)
							atk3power= res.stats[2].base_stat
							atk4power= res.stats[1].base_stat
							health= "<p><strong> Health: </strong>" + res.stats[5].base_stat + "</p>"
							hp= res.stats[5].base_stat
							atk1name= res.moves[0].move.name
							console.log(atk1name+ "This is the name of attack2")
							atk2name= res.moves[3].move.name
							atk3name= res.moves[2].move.name
							atk4name= res.moves[1].move.name
							//sprite= "<p><strong> Image: </strong>" + res.sprites.front_shiny + "</p>"
							$('#container1').html(name+type+attack+health);
						})
						$.get("https://pokeapi.co/api/v2/pokemon-species/" + pokemon,function(res){
							string="<p><strong>Flavor Text: </strong>" + res.flavor_text_entries[1].flavor_text +"</p>"
							$('#container1').append(string);
						})
						$.get("https://pokeapi.co/api/v2/pokedex/2", function(res){
							console.log(pokemon);
							image= "<img src='http://pokeapi.co/media/img/" + pokemon + ".png' id="+ id +">";
							$('#container3').html(image);
							$('#form').html("<form action= 'papi/pokedex' method= 'post'>" +
							  	"<input type= 'hidden' name= 'name' value=" + name_value + "> " +
							  	"<input type= 'hidden' name= 'pokeid' value=" + pokemon + ">" +
							  	"<input type= 'hidden' name= 'poketype' value=" + poketype + ">" +
							  	"<input type= 'hidden' name= 'pokeid' value=" + pokemon + ">" +
							  	"<input type= 'hidden' name= 'hp' value=" + hp + ">" +
							  	"<input type= 'hidden' name= 'atk1power' value=" + atk1power + ">" +
							  	"<input type= 'hidden' name= 'atk2power' value=" + atk2power + ">" +
							  	"<input type= 'hidden' name= 'atk3power' value=" + atk3power + ">" +
							  	"<input type= 'hidden' name= 'atk4power' value=" + atk4power + ">" +
							  	"<input type= 'hidden' name= 'atk1name' value=" + atk1name + ">" +
							  	"<input type= 'hidden' name= 'atk2name' value=" + atk2name + ">" +
							  	"<input type= 'hidden' name= 'atk3name' value=" + atk3name + ">" +
							  	"<input type= 'hidden' name= 'atk4name' value=" + atk4name + ">" +
							  	"<input type= 'hidden' name= 'pokeid' value=" + pokemon + ">" +
								"<input class='submit' type= 'submit' value= 'Choose this pokemon'>" +
								"{% csrf_token %}" +
								"</form>")
						})  
					})
				}
				console.log(res);
			},"json");
		});

</script>	
</head>
<body>
	<div id="container">
		<div id="nav">
			<a id="home" href="{%url 'poke_dashboard' %}">Dashboard</a>
			<div id="logout">
				<a href="{%url 'poke_logout' %}">Logout</a>
			</div>
		</div>
		<div id="container1" style="border:3px solid black; height: 200px" >
		</div>
		<div id="container2">
		</div>
		<div id="right">
			<p>Selection:</p>
			<div id="container3" style="border:3px solid black; width:150px; height: 120px; display: inline-block;" >
			</div>
			<div id='form'>

			</div>
			<p>Roster:</p>
			<div id="container4" style="border:3px solid black; width:150px; height: 120px; display: inline-block;" >
				<img src="{% static p1 %}" alt="Pokemon character" style="height: 120px; width: 150px;">
			</div>
			<div id="container5" style="border:3px solid black; width:150px; height: 120px; display: inline-block;" >
				<img src="{% static p2 %}" alt="Pokemon character" style="height: 120px; width: 150px;">
			</div>
			<div id="container6" style="border:3px solid black; width:150px; height: 120px; display: inline-block;" >
				<img src="{% static p3 %}" alt="Pokemon character" style="height: 120px; width: 150px;">
			</div>
				
			<div id='messages'> 
				{%for message in messages%}
					{{message}}
				{%endfor%}
			</div>	
		</div>
	</div>	
</body>
</html>