<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Battle Order</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="static/poke/css/prebattle.css">
	<script src= 'static/poke/jquery/jquery-3.0.0.js'></script>
	<script type="text/javascript">
		$(document).ready(function(){


		})
	</script>
</head>
<body>
<div id="nav">
	<a id="home" href="{%url 'poke_dashboard' %}">Dashboard</a>
	<div id="logout">
		<a href="/">Logout</a>
	</div>
</div>
<div id='container'>
<div id="pokemon">
	<p><h1>{{ user.username }}, Choose Your First Pokemon!</h1></p>
	<div id="Pokemon1">
		<form action="prebattlepick" method="post">
		{% csrf_token %}
		<p><img src="{% static p1 %}" alt="Pokemon character"></p>
		<input type="submit" name="poke1" value="{{ userPoke1.name }}">
		</form>
	</div>
	<div id="Pokemon2">
		<form action="prebattlepick" method="post">
		{% csrf_token %}
		<p><img src="{% static p2 %}" alt="Pokemon character"></p>
		<input type="submit" name="poke2" value="{{ userPoke2.name }}">
		</form>
	</div>
	<div id="Pokemon3">
		<form action="prebattlepick" method="post">
		{% csrf_token %}
		<p><img src="{% static p3 %}" alt="Pokemon character"></p>
		<input type="submit" name="poke3" value="{{ userPoke3.name }}">
		</form>
	</div>

</div>
<div id="initPokemon">
	<u>Your current pick:</u>
	<br>
	{% if firstpick == userPoke1 %}
	<img src="{% static p1 %}" alt="Pokemon character">
	{% endif %}
	{% if firstpick == userPoke2 %}
	<img src="{% static p2 %}" alt="Pokemon character">
	{% endif %}
	{% if firstpick == userPoke3 %}
	<img src="{% static p3 %}" alt="Pokemon character">
	{% endif %}
<form action="/battle" method="get">
	<input type="submit" value="FIGHT!">
</form>
</div>
</div>
</body>
</html>