{% load staticfiles %}

<html>
<head>
	<title>Rivals</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="static/poke/css/rivals.css">
</head>
<body>
<div id="container">
  <div id="nav">
    <a id="home" href="{%url 'poke_dashboard' %}">Dashboard</a>
    <div id="logout">
      <a href="/">Logout</a>
    </div>
  </div>
  <h1> Rivals in the area </h1>	

  <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Username</th>
          <th>User level</th>
          <th> First Pokemon </th>
          <th>Challenge?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
     			{%for user in users%}
  		<tr>
  			<td><a href='otherdashboard/{{user.id}}'> <u>{{user.username}}</u> </a> </td>
  			<td> {{user.lvl}} </td>
  			<td> {{user.p1.name}} </td>
  			<td> <a href='/preprebattle/{{user.id}}'> <u>Challenge Rival</u> </a> </td>
  		</tr>	
  		{%endfor%}
        </tr>
      </tbody>
    </table>
  </div>	
  </table>	
</div>	
</body>
</html>