<html>
<head>
	<meta charset="utf-8">
	<title>You Lose</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'poke/css/dash.css' %}">
	
</head>
<body>
	<div id="container">
		<div id="nav">
			<a id="home" href="{%url 'poke_dashboard' %}">Dashboard</a>
			<div id="logout">
				<a href="{%url 'poke_logout' %}">Logout</a>
			</div>
		</div>
		{%for x in users%}
		<h1>Sorry, you lost</h1>
		<h3> You are still level {{x.lvl}}</p>
		<div id="userInfo">

			<p>Level: {{x.lvl}}</p>
			<p>Record: {{x.win}} - {{x.lose}}</p>

			{%endfor%}

		</div> 
		<div id='dashboard'>
			<p> <a href='rivals'> Fight another battle battles </a>	</p>
			<p> <a href='dashboard'> Return to your dashboard </a> </p>
		</div>	
	<div>	
	
</body>
</html>