* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}
#container {
	width: 900px;
	height: 1000px;
	text-align: center;
	background-color: 
}
	#nav {
		border: 2px solid darkgrey;
		height: 30px;
		background: linear-gradient(#FAFAFA, #E0E0E0);
	}
		#home {
			margin-right: 650px;
			font-family: fantasy;
			font-size: 20px;
			color: darkgreen;
		}
		#logout {
			text-align: right;
			display: inline-block;
			margin-top: 3px;
		}
		#logout a {
			font-family: fantasy;
			font-size: 20px;
			color: darkgreen;
		}
	h1 {
		font-size: 35px;
		font-family: fantasy;
		margin: 25px;
	}
	h2 {
	font-size: 30px;
	font-family: fantasy;
	color: darkred;
	}	
	#userInfo {
		display: inline-block;
		margin: 30px;
		background: linear-gradient(#FAFAFA, #E0E0E0);
		border-radius: 10px;
		border: 1px solid grey;
		padding: 25px;
	}
		#userInfo p {
			font-size: 20px;
		}
		#userInfo a {
			display: block;
			font-size: 20px;
			color: darkgreen;
		}
	#roster {
		display: inline-block;
		vertical-align: top;
		margin: 30px;
		background: linear-gradient(#FAFAFA, #E0E0E0);
		border-radius: 10px;
		border: 1px solid grey;
		padding: 25px;
	}
		#roster img {
			height: 250px;
			width: 250px;
		}